.protest-riot-regular {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 1rem 2rem;
    text-align: center;
    background-color: #ff93b3;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin: 0;
}

.btn {
    padding: 0.6rem 1rem;
    width: 90px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #ec4678;
    color: #fff;
    cursor: pointer;
    margin: 0 10px;
}

#no {
    position: absolute;
    transition: 0.3s;
    z-index: 2;
}

.petals {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1;
}
a{
    color: inherit;
    text-decoration: inherit;
}
img{
    height: auto;
    width: 500px;
    max-height: 500px;
}


.buttons{
    margin-right: 45px;
}
